# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MobileDevicePractice.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\p\RiderProjects\MobileDevicePractice\.idea\.idea.MobileDevicePractice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
